.meet_list{overflow: hidden; width: 45%; margin: 0 55px 20px 0;}
.meet_list .meet_title{line-height: 50px; text-align: center; font-size: 14px; background-color: #F3F2F0;}
.meet_list .meet_info_wp{overflow: hidden; padding: 14px;}
.meet_list .meet_info_wp .meet_img{display: block; width: 100px; height: 100px; margin-right: 12px;}

.meet_info ul{}
.meet_info li{line-height: 23px;}
.meet_info li span{font-size: 14px; display: inline-block; vertical-align: top;}
.meet_info li .meet_info_tit{width: 90px;}
.meet_info li .meet_info_vl{width: 250px;}
.f_oflow{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} /*过长隐藏*/