.window_boundingBox{position: absolute; border: 1px solid #000; box-shadow: 0 0 12px rgba(0,0,0,0.5); z-index: 99; border-radius: 5px;}
.window_header{width: 100%; height: 30px; padding-top: 5px; text-align: left; text-indent: 25px; line-height: 30px; font-family: "黑体"; font-size: 16px;}
.window_body{width: 100%; text-align: left; text-indent: 25px; padding-top: 5px; font-family: "黑体";}
.window_footer{position: absolute; bottom: 0; padding-bottom: 10px; text-align: right; width: 100%;}
.window_confirmBtn,.window_promptBtn{width: 80px;height: 25px; line-height: 25px; margin-right: 10px;}
.window_cancelBtn{width: 80px; height: 25px; line-height: 25px; border: none; font-family: "黑体"; cursor: pointer; margin-right: 20px;}
.window_alertBtn{position: absolute; height: 25px; line-height: 25px; bottom: 10px; left: 80%; border-radius: 2px; margin-left: -50px;}
.window_promptInputWrapper{padding-top: 15px; position: relative;}
.window_promptInputWrapper .labelError{position: absolute; left: 0; bottom: -20px; color: red; font-size: 12px; font-family: "microsoft yahei";}
.window_promptInput{width: 85%; height: 60px;}
.emng-mask{width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 98;}

.window_boundingBox{background: #FFFFFF;}
.window_cancelBtn{background: #FFFFFF;}
/*.window_header{color: #2DC7C2;}*/
.window_cancelBtn{color: #000000;}
.emng-mask{background: rgba(0,0,0,0.8);}