.hide_my{display: none;}
.show_my{display: block;}
.inline_block{display: inline-block;}

.fl{float: left; display: inline;}
.fr{float: right; display: inline;}
.cf{zoom: 1;}
.cf:after{clear: both; height: 0; content: ''; visibility: hidden; display: block;}

.t_a_left{text-align: left;}
.t_a_center{text-align: center;}
.t_a_right{text-align: right;}

.f_12{font-size: 12px;}
.f_14{font-size: 14px;}
.f_16{font-size: 16px;}
.f_18{font-size: 18px;}

.txt_overflow{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.readonly{cursor: not-allowed;}
