@charset "utf-8";
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select,button{margin: 0;padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-family: "微软雅黑";font-size: 12px;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,a,th,td,select,em,span,strong{-webkit-touch-callout: inherit; -webkit-user-select: auto;}
h1,h2,h3,h4,h5,h6,strong,em{font-weight: normal; font-style: normal;}
html{width: 100%;}
body {width: 100%;background-color: #fff;}
ul,li{list-style: none;}
a {color: #2F2F2F;text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a:hover {text-decoration: none;}
button,input,select,textarea {font-size: 100%;margin: 0;padding: 0;outline: none;}
textarea,input {resize: none;outline: none;}
textarea {resize: none;-webkit-appearance: none;}
em {font-style: normal;}
label{margin: 0; font-weight: normal;}
input[type=checkbox]{margin: 0;}
/*select{-webkit-appearance: none; -moz-appearance: none; appearance: none; -ms-progress-appearance: none;}*/
/*去除IE浏览器input自带的X*/
input[type=text]::-ms-clear{display: none;}
