#assign_btn{margin-right: 0.2rem;}
.opt_wp  .opt_area{padding: 0.133rem 0.4rem;}
.opt_wp .opt_t{text-align: center; padding: 0.2rem 0;}

/*输入请假原因的弹出框样式*/
.opt_fill{width: 7.333rem; z-index: 100; position: absolute; top: 15%; left: 50%; margin-left: -3.666rem; padding: 0.4rem 0.4rem 0; border-radius: 0.106rem; background-color: #fff;}
.opt_fill .fill_con{width: 100%; height: 3.266rem; border-radius: 0.106rem; background-color: #FAFAF9; padding: 0.3rem; border: none; resize: none;}
.opt_fill .opt_btn{padding: 0.213rem 0.4rem 0;}
.opt_fill .opt_btn a{display: block; line-height: 1.2rem; text-align: center;}
.opt_fill .opt_btn .cancel_btn{border-right: 1px solid #D6D4D1;}
