<form [formGroup]="reactiveForm">
  <div>
    <input placeholder="用户名" formControlName="userName" type="text">
  </div>
  <p>请选择头像</p>

  <!-- 自定义表单控件 -->
  <app-custom-form-control formControlName="avatar" ></app-custom-form-control>
  <!-- 自定义表单控件 -->

  <input placeholder="用户Id" formControlName="userId" type="text">
  <div formGroupName="account">
    <input type="password" formControlName="pwd" placeholder="请输入密码" />
    <input type="password" formControlName="confirm" placeholder="请确认密码" />
  </div>
  <p>表单值: {{reactiveForm.value | json}}</p>

  <p>formControl的errors是一个key-value键值对对象.</p>
  <p *ngIf="reactiveForm.get('userId').errors">userId是否含错: {{reactiveForm.get('userId').errors | json}}</p>
  <p>account子formGroup是否含错: {{reactiveForm.get('account').errors | json}}</p>
  <p>account子formGroup的confirm是否含错: {{reactiveForm.get('account').get('confirm').errors | json}}</p>
</form>
