<form [formGroup]="reactiveForm">
  <div>
    <input placeholder="用户名" formControlName="userName" type="text">
  </div>
  <p>请选择头像</p>
  <app-custom-form-control formControlName="avatar" ></app-custom-form-control>
  <input placeholder="用户Id" formControlName="userId" type="text">
  <div formGroupName="account">
    <input type="password" formControlName="pwd" placeholder="请输入密码" />
    <input type="password" formControlName="confirm" placeholder="请确认密码" />
  </div>
  <p>{{reactiveForm.value | json}}</p>
</form>
