<form [formGroup]="reactiveForm">
  <div>
    <input placeholder="用户名" formControlName="userName" type="text">
  </div>
  <div>
    <input placeholder="密码" formControlName="pwd" type="password">
  </div>
  <p>请选择头像</p>
  <app-custom-form-control formControlName="avatar" ></app-custom-form-control>
  <input placeholder="用户Id" formControlName="userId" type="text">
  <!-- <app-custom-form-control2 formControlName="userId"></app-custom-form-control2> -->
  <p>{{reactiveForm.value | json}}</p>
</form>
