.menu-out-wrapper .menu-out-two li a{background: #FAFAFA;}
.menu-out-wrapper .menu-out-two li a:hover{background: #25A4A0;}
.menu-out-wrapper .menu-out-one .menu-out-header{background: #F1F1F1;}
.menu-out-header span:nth-of-type(1){background: url(../../img/list-icon.png);}
.menu-out-wrapper .menu-out-one .menu-out-header:hover,.menu-out-wrapper .menu-out-one .menu-out-header-click{background: #2F2F2F;}
.menu-out-wrapper .menu-out-two .menu-two-click{background: #25A4A0;}

.menu-in-wrapper .menu-in-one .menu-in-header{background: #FAFAFA;}
.menu-in-header strong{background: url(../../img/bg-arrow-1.png) no-repeat center center;}
.menu-in-wrapper .menu-in-two li{background: #F1F1F1; border-bottom: 1px solid #D9D9D9;}
.menu-in-wrapper .menu-in-two li:hover{background: #FAFAFA;}
.menu-in-wrapper .menu-in-three li{background: #FAFAFA;}
.header-click strong{background: url(../../img/bg-arrow-2.png) no-repeat center center;}

.a1-click{color: #3DAAA6;}
.a2-click{color: #34B778;}
.a3-click{color: #DA8F40;}
