nav{background-color: #FAFAFA;}
nav em{background-image: url(../../img/list-icon.png);}
nav p span{color: #57B6B3;}

.check-factor-wrapper article{background: #25A4A0;}
.check-factor-wrapper article{color: #FFFFFF;}
