<form [formGroup]="form">
    <input type="checkbox" formControlName="optionA"> Option A
    <input type="checkbox" formControlName="optionB"> 点我动态新增optionBExtra的formControl
    <input type="checkbox" formControlName="optionC"> 点我动态新增optionCExtra的Validator
    <input formControlName="optionBExtra" placeholder="optionBExtra" *ngIf="optionBExtra">
    <input formControlName="optionCExtra" placeholder="optionCExtra">
</form>

<p>Form Value: {{ form.value | json }}</p>
<p>Form Valid: {{ form.valid }}</p>
