/*menu style*/
#header{position: fixed; top: 0;  width: 100%; height: 50px; min-width: 1345px; z-index: 999; background-color: #E3E1DE;}
#header h1{width: 210px; line-height: 50px; text-align: center; background-color: #0083E9; color: #FFFFFF; font-size: 18px; position: relative;}
#header h1 span{position: absolute; top: 5px; left: 5px; display: inline-block; width: 45px; height: 45px; background-image: url(../img/icon-list.png); background-position: 0 -2px;}
#header .userName{position: absolute; top: 0; right: 110px; line-height: 50px; font-size: 14px;}
#header .loginOut{position: absolute; top: 0; right: 10px; width: 100px; cursor: pointer; line-height: 50px; text-indent: 20px; background: url(../../img/icon-list2.png) no-repeat right center; background-size: 40px 40px; font-size: 14px;}
#main{position: relative;}

#side_menu{position: fixed; top: 50px; left: 0; bottom: 0; width: 210px; padding: 10px 0; background-color: #222d32; z-index: 99;}
#side_menu dl{margin: 0;}
#side_menu dl dt{height: 44px; padding: 0 42px 0 36px; border-left: 4px solid #222d32; position: relative; font-size: 14px; color: #7E8A8F; line-height: 44px; cursor: pointer;}
#side_menu dl dt span.circle{position: absolute; top: 50%; left: 10px; margin-top: -6px; width: 12px; height: 12px; background: url(../img/circle.png) no-repeat 0 0;}
#side_menu dl dt span.arrow{position: absolute; top: 50%; right: 15px; margin-top: -6px; width: 12px; height: 12px; background: url(../img/arrow.png) no-repeat 0 0;}
#side_menu dl dd{background-color: #2c3b41; display: none;}
#side_menu dl.active dd{display: block;}
#side_menu dl dd ul{margin: 0; padding: 0; list-style: none;}
#side_menu dl dd ul li{margin: 0; padding: 0; list-style: none;}
#side_menu dl dd ul li a{display: block; height: 30px; padding: 0 20px 0 66px; color: #6a818a; line-height: 30px; cursor: pointer; position: relative;}
#side_menu dl dd ul li a span.circle{position: absolute; top: 50%; left: 40px; margin-top: -6px; width: 12px; height: 12px; background: url(../img/circle.png) no-repeat 0 0;}

#side_menu dl dt:hover,
#side_menu dl.active dt{background-color: #1e282c; border-left-color: #00BDAF; color: #fff;}
#side_menu dl dt:hover span.circle,
#side_menu dl.active dt span.circle{background-position: 0 -12px;}
#side_menu dl dt:hover span.arrow{background-position: 0 -12px;}
#side_menu dl.active dt span.arrow{background-position: 0 -24px;}

#side_menu dl dd ul li a:hover,
#side_menu dl dd ul li.active a{color: #fff; text-decoration: none;}
#side_menu dl dd ul li a:hover span.circle,
#side_menu dl dd ul li.active a span.circle{background-position: 0 -12px;}

#side_menu dl dt,
#side_menu dl dd ul li a,
#side_menu dl dd ul li a span.circle{transition: all 300ms; -moz-transition: all 300ms; -webkit-transition: all 300ms; -o-transition: all 300ms;}

#side_menu dl a{display: block;}
#side_menu dl dt, #side_menu dl dt{color: #fff;}
#side_menu dl dt:hover, #side_menu dl.active dt{margin-left: 5px;}

#main_body{margin-left: 210px; margin-top: 52px; padding: 10px; min-width: 1135px;}
#main_body .body_title{color: #829DA2; padding-bottom: 10px; font-weight: bold;}

/*querybar style*/
.query_bar{border-top: 2px solid #D0DAD9; padding: 10px; overflow: hidden;}
.query_bar .fc a,.query_bar .fc span{display: inline-block; vertical-align: middle; font-size: 14px; margin-right: 10px;}
.query_bar .fc span{font-weight: bold;}
.query_tab{background: #FFFFFF; padding: 10px; border-top: 3px solid #AEBFC1;}
.query_tab p{font-size: 14px; font-weight: bold; margin-bottom: 10px; float: left; width: 200px; margin-right: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; cursor: default;}

/*tabs*/
.qyh-tabs{border-bottom: 1px solid #008CF5; overflow: hidden;}
.qyh-tabs li{position: relative; display: block; margin-bottom: -1px; float: left;}
.qyh-tabs>li>a{position: relative; margin-right: 8px; background-color: #008CF5; color: #fff; display: block; padding: 5px 15px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 4px 4px 0 0;}
.qyh-tabs>li.active>a{color: #008CF5; background-color: #fff; cursor: default; border: 1px solid #008CF5; border-bottom-color: transparent;}

/*ipt-areas*/
.ipt-areas{margin-top: 40px;}
.ipt-ul{}
.ipt-li{margin-bottom: 30px;}
.ipt-li .ipt-tit,.ipt-li .ipt-inline{display: inline-block; position: relative;}
.ipt-li .ipt-tit{width: 100px; text-align: right; margin-right: 10px;}
.ipt-inline .ipt-inline-items{margin-bottom: 10px;}
.tit-vertical-top{vertical-align: top;}

/*operate*/
.operate{color: #60AAFF;}

/*bootstrap modale style*/
.modal-title{font-size: 18px; font-weight: 700;}
.modal-dialog{width: 400px;}
.modal-content{border-radius: 0;}
.modal-body li{margin-bottom: 20px;}
.modal-body li span{display: inline-block; vertical-align: middle; width: 70px; text-align: right; margin-right: 10px;}
.modal-body li span i{color: red;}
.modal-body li input[type=text],.modal-body li select{width: 250px;}
.modal-body p .errorTips{margin-left: 85px;}

/*datePicker style*/
.ui-widget-header{background: #0083E9;}
.ui-state-default, .ui-widget-content .ui-state-default{color: #2F2F2F;}
.ui-widget-header{border: 1px solid #2F2F2F;}

/*no right*/
.noRights_wp{margin: 200px auto 0; width: 550px; line-height: 35px; padding-left: 100px; background: url(${link.contextPath}/img/warning.jpg) no-repeat left center; background-size: 70px 70px;}
.noRights_wp h2{font-size: 26px; font-weight: bold;}
.noRights_wp h3{font-size: 20px; font-weight: bold; color: #8C8984;}

.int_tit .qyh_pc_must{margin: 0 3px;}
