/*style*/
.base-config .panel-body .base-intro{text-align: center; font-size: 16px; margin-bottom: 15px;}
.base-config .panel-body span{line-height: 30px;}
.time-adjust{margin-top: 15px;}
.time-adjust .control-label{width: 120px;}