/*login btn*/
.xy-btn-main{background-color: #367FA9;}
.xy-btn-anger{background-color: #b92525;}
.xy-btn-warn{background-color: #F39C12;}
.xy-btn-disable{background-color: #999999;}
.xy-btnDisabled{color: #FFFFFF;}