 .feed_list{border-bottom: 2px solid #00BDAF;}
 .feed_list a{display: block; padding: 0.333rem 0; text-align: center; color: #8C8984; background-color: #fff;}
 .feed_list .choosen{color: #fff; background: #00BDAF;}
 .feed_btn{padding: 0.266rem; width: 100%; position: fixed; bottom: 0;}
 
 .m_tdown{display: block; overflow: hidden; background-color: #fff;}
 .m_tdown .tdown_i{float: left; width: 1.52rem; margin: 0 0.38rem 0.3rem 0;}
 .m_tdown .tdown_i:nth-of-type(5n){margin-right: 0;}
 
#meet_remind{margin-right: 0.333rem;}
