img{border-radius: 0.106rem;}

.m_tline{padding: 0.346rem;} /*图片加两行文字的列表*/
.m_tline .t_img{width: 1.52rem; height: 1.52rem;}
.tline_txt_wp{margin-left: 0.346rem;}
.tline_txt_wp span{display: block; line-height: 0.6rem;}

.m_tdown{width: 100%; display: -webkit-box; overflow-x: auto; padding: 0.28rem 0.4rem;} /*文字在图片下面的列表*/
.m_tdown .tdown_i{width: 24%; text-align: center; -webkit-box-flex: initial;}
.tdown_i .td_img{width: 1.52rem; height: 1.52rem; margin: 0 0 0.12rem;}
.tdown_i .td_txt{display: block; width: 1.52rem; text-align: center;}

.m_tcenter{padding: 0.28rem 0.4rem;} /*图片加一行文字的列表*/
.m_tcenter .t_img{width: 1.52rem; height: 1.52rem;}
.m_tcenter span{display: block; margin: 0 0.2rem; width: 80%;}

.m_prtit{padding: 0.16rem 0.4rem; background-color: #F7F7F6;} /*标题和文字内容的模块*/
.m_prcon{padding: 0.16rem 0; margin: 0 0.4rem; line-height: 0.733rem; background-color: #fff; border-bottom: 1px solid #C1C1BF;}

.m_mlist_wp{padding: 0.28rem 0.4rem;} /*会议地点*/
.m_mlist_wp .m_mlist_tit{margin-bottom: 0.25rem;}
.m_mlist li{margin-bottom: 0.22rem;}
.m_mlist li span,.m_mlist li .m_micon{display: block;}
.m_mlist .m_micon{width: 0.64rem; height: 0.64rem; background: url(../../img/l_icon.png) no-repeat; background-position: 0 0; background-size: 5.76rem auto; margin-right: 0.186rem;}
.m_mlist .endIcon{background-position: -0.64rem 0;}
.m_mlist .m_mtit{margin-right: 0.186rem;}
.m_mlist .m_mvl:nth-of-type(1){margin-right: 0.266rem;}

.m_hxlist{padding: 0.293rem; border: 10px solid #F7F7F6;}
.m_hxlist a{border-right: 2px solid #D8D5D1; text-align: center;}
.m_hxlist a:nth-last-of-type(1){border: none;}

.m_input_list li{background-color: #fff; padding: 0.453rem 0.453rem; border-bottom: 1px solid #EBEBEB; position: relative;} /*常见表单输入模块*/
.m_input_list .input_tit{display: block; width: 2.666rem;}
.m_input_list input[type=text]{border: none;}

.m_sel_list{} /*选择模块*/
.m_sel_list li{background-color: #fff; padding: 0.453rem 0.453rem; border-bottom: 1px solid #EBEBEB; position: relative;}
.m_sel_list .emphasis{font-weight: bold; margin-right: 0.453rem;}
.m_sel_list .sel_check{position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 9;}
.m_sel_list .sel_radio{position: absolute; top: 0; left: 0; width: 1.066rem; height: 100%; opacity: 0; z-index: 9;}
.m_sel_list .sel_bg{display: block; width: 0.48rem; height: 0.48rem; margin-right: 0.32rem; background: url(../../img/s_icon.png) no-repeat; background-size: 3.36rem auto; background-position: 0 0;}
.m_sel_list .sel_check:checked+.sel_bg,.m_sel_list .sel_radio:checked+.sel_bg{background-position: -0.48rem 0;}

/*新建会议等css*/
.search_area{padding: 0.213rem 0.186rem; position: relative;}
.search_area .glass{display: block; position: absolute; width: 0.48rem; height: 0.48rem; top: 50%; left: 0.25rem; margin-top: -0.24rem; background: url(../../img/s_icon.png) no-repeat; background-size: 3.36rem auto; background-position: -1.92rem 0;}
.search_area .search_input{display: block; height: 0.693rem; line-height: 0.693rem; border-radius: 0.08rem; border: none; padding: 0.133rem 0.133rem 0.133rem 0.666rem;}
.search_area .search_btn{padding: 0 0.266rem; height: 0.693rem; border: none; background-color: transparent;}
.search_result{}
.search_result li{background-color: #fff; padding: 0.56rem 0.453rem; border-bottom: 1px solid #EBEBEB;}
.search_result li .meet_wp{width: 0.9rem; height: 1.666rem; position: relative;}
.search_result .meet_head_wp .meeter_head{width: 1.6rem; height: 1.6rem; margin-right: 0.133rem; border-radius: 0.106rem;} /*我发起的会议系列有用户头像*/
.search_result li .meet_wp .meet_check{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; opacity: 0;}
.search_result li .meet_wp .meet_bg{display: block; width: 24px; height: 24px; position: absolute; top: 50%; left: 0; margin-top: -12px; background: url(../../img/l_icon.png) no-repeat; background-size: 216px auto; background-position: -48px 0;} 
.search_result li .meet_wp .meet_check:checked+.meet_bg{background-position: -72px 0;}
.search_result .m_meeta{line-height: 0.55rem; position: relative;}
.search_result .m_meeta .nowDate{position: absolute; right: 0; top: 0;}

/*选择会议发起人和参会人*/
#fqr_list,#cyr_list{display: -webkit-box; overflow-x: auto;}
#fqr_list span,#cyr_list span{display: block; width: 20%; text-align: center; line-height: 35px; margin-right: 5px; position: relative;}
#fqr_list span .del_fqr,#cyr_list span .del_cyr{position: absolute; top: -11px; right: 0; color: red;}

/*禁止屏幕滑动(当有弹出框弹出时)*/
.bodyNoscroll{position: absolute; top: 0; bottom: 0; overflow: hidden;}

/*遮罩层*/
#qyh_mask{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.5); z-index: 99;}

/*点击加载更多*/
#loadingMore{text-align: center; padding: 0.2rem 0;}