body{overflow-x: hidden;}
header{background-color: rgba(0,0,0,0.5); width: 100%;}
header .header-list a{color: #000000;}
header .header-list .active{color: #FFFFFF;}
.authcenter{position: relative;}
.authcenter .authcenter-body{position: relative; width: 1300px; height: auto; min-height: 450px; margin: 0 auto; padding: 50px 0; }
.authcenter .authcenter-body .authcenter-body-login{float: right; width: 270px; height: auto; margin:30px 15px 0 0;}
.authcenter .authcenter-body .authcenter-body-login .login-tab{overflow: hidden; border-bottom: 1px solid #2F3031;}
.authcenter .authcenter-body .authcenter-body-login .login-tab li{float: left; width: 135px; text-align: center; padding: 10px 0; font-size: 14px; color: #FFFFFF; background-color: rgba(0,0,0,0.3); cursor: pointer;}
.authcenter .authcenter-body .authcenter-body-login .login-tab .selected{background-color: rgba(0,0,0,0.5);}
.authcenter .authcenter-background{width: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
.authcenter .authcenter-background #bgImg{position: absolute; width: 100%; height: auto; top: 0; left: 0; overflow: hidden;}

/*pay login*/
.authcenter .authcenter-body  .login-modern{width: 210px; padding:20px 30px; background-color: rgba(0,0,0,0.5);}
.authcenter .authcenter-body  .login-modern h2{color: #FFFFFF; text-align: center; font-size: 18px; margin-bottom: 20px;}
.authcenter .authcenter-body  .login-modern li{margin-bottom: 10px; overflow: hidden;}
.authcenter .authcenter-body  .login-modern li img{width: 96px; margin-left: 8px; height: 30px; max-width: 100%; float: right;}
.authcenter .authcenter-body  .login-modern li button{width: 100%;}
.authcenter .authcenter-body  .login-modern li button a{display: inline-block; width: 100%;}
.authcenter .authcenter-body  .login-modern li p{width: 100%; height: 15px; position: relative; color: #FFFFFF;}
.authcenter .authcenter-body  .login-modern li p a{position: absolute; color: #FFFFFF;}
.authcenter .authcenter-body  .login-modern li p a:hover{text-decoration: underline;}
.authcenter .authcenter-body  .login-modern li p .another{left: 0;}
.authcenter .authcenter-body  .login-modern li p .forgetpassword{right: 0;}

/*private*/
#idNo,#password,#school-admin-name,#bank-admin-name,#password-school,#password-bank{width: 184px;}
#code-school,#code-bank,#code{width: 80px;}
#province{margin-right: 10px;}
#province,#city{width: 98px;}
#school{width: 100%;}

/*responsive*/
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
	body{width: 100%; min-width: 0;}
	.authcenter .authcenter-body{width: 80%;}
}
@media only screen and (max-width: 1000px) {
	body{width: 100%; min-width: 0;}
	.authcenter .authcenter-body{width: 285px;}
}
@media only screen and (max-width: 550px) {
	header .header-list{display: none;}
}