@media (max-width: 1200px) {
	.head_wp .head_logo{display: none;}
	.head_wp .btn_menu{display: block;}
	.menu_li{display: none;}
	.head_wp .head_menu .head_input{opacity: 1; width: 360px;}
	.head_wp .head_menu .head_input .head_search{padding: 0 15px;}
	.menu_ul .submit_input_btn{display: inline-block;}
	.menu_ul .slide_input_btn{display: none;}
	.head_wp .head_input .search_cancel{display: none;}
	.resources_wp .viedeo_right_wrap{padding-left: 0;}
	.touch_way .img_container{margin: 0 auto;}
	.call_No,.contact_Address,.share_way{text-align: center;}
	.foot_icon_wrap{margin-right: 0;}
	.foot_menu{line-height: 45px;}
	.foot_menu .menu_right{text-align: center;}
	.foot_menu .menu_left{text-align: center;}
}

@media (max-width: 580px) {
	.head_wp .head_menu .head_input{opacity: 1; width: 300px;}
}

@media (max-width: 480px) {
	.head_wp{height: 80px;}
	.head_pledge,.head_donation{width: 80px; font-size: 12px; padding: 3px 8px;}
	.head_wp .head_icon{width: 20px; height: 16px; margin-right: 2px; background-size: 80px 16px;}
	.head_icon:nth-of-type(1){background-position:0 0;}
	.head_icon:nth-of-type(2){background-position:-20px 0;}
	.head_icon:nth-of-type(3){background-position:-40px 0;}
	.head_icon:nth-of-type(4){background-position:-60px 0;}
	
	.menu_form .menu_search,.menu_form .menu_submit{display: inline-block;}
	.head_wp .btn_menu{width: 20px; height: 20px; background-size: 20px 20px; margin-top: -10px;}
	.shuffling{margin-top: 80px;}
	.head_wp .head_share{top: 28px; right: 5px;}
	.search_site_form{display: none;}
	
	/*some public*/
	.content_section{margin-top: 0;}
	.module_title{margin-top: 15px;}
	.lead_txt{font-size: 20px;}
	.lead_content{font-size: 14px;}
}

@media (min-width: 1400px) {
	.pub_title{padding-left: 7%;}
}