.slide_list_wp{}
.slide_list_wp .slide_span,.slide_list_wp .slide_href{display: block; font-size: 18px; line-height: 1.8;}
.slide_list_wp .slide_href{color: #5CB85C;}
/*.slide_list_wp .slide_href:visited{color: #8C3C89;}*/
.slide_list_wp .slide_span{color: #666;}
