@charset "utf-8";
*{box-sizing: border-box; -webkit-box-sizing: border-box;}
html,body{width: 100%;}
body {font-family: "Microsoft Yahei,Helvetica"; font-size: 14px; background-color: #fff;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,a,th,td,select,em,span,strong{-webkit-touch-callout: inherit; -webkit-user-select: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
h1,h2,h3,h4,h5,h6,strong,em,b,i,label{font-weight: normal; font-style: normal;}
a{text-decoration: none; color: #000;}
a:hover {text-decoration: none; color: #000;}
img{display: block; border: none;}
button,input,select,textarea {margin: 0; padding: 0; outline: none;}
textarea {resize: none; -webkit-appearance: none;}
ul,ol,li{list-style: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table tr th{font-weight: normal; text-align: left;}
table tr th,
table tr td{padding: 0;}
