<form action="">
  <h3>Add a link</h3>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" #newtitle>
  </div>
  <div>
    <label for="link">Title:</label>
    <input type="text" id="link" name="link" #newlink>
  </div>
  <div class="article-list">
    articleList: {{articleList | json}}
    <app-article-item *ngFor="let a of articleList" [articleItem]="a"></app-article-item>
  </div>
  <p>----------------------------------------------</p>
  <div class="article-list2">
    articleList2: {{articleList2 | json}}
    <app-article-item2 *ngFor="let a2 of articleList2" [articleItem2]="a2"></app-article-item2>
  </div>
  <div>
    <button type="button" (click)="addArticle(newtitle, newlink)">新增</button>
  </div>
</form>
