html,body{overflow-x: scroll;}
body{font-family: "microsoft yahei"; color: #333;}

.header-bar{position: relative;}
.header-bar .date-bar{padding:0.4rem; background: #0F71AF; color: #fff; text-align: center;}
.header-bar .select-date{position: absolute; width: 0.833rem; height: 0.833rem; background-size: cover; background-repeat:no-repeat; top: 50%; right: 0.4rem; margin-top: -0.446rem;}
.header-bar .date-select{position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 999;}

.query-items{}
.nav-bar{padding: 0.35rem; background: #EDEBE9;}
.query-items .items-bar{position: relative; padding: 0.4rem; background: #fff;}
.query-items .items-arrow{position: absolute; width: 92%; height: 0.533rem; background-image: url(../img/fanhui.png); background-size: 0.533rem 0.533rem; background-position: right center; background-repeat:no-repeat; top: 50%; right: 0.4rem; margin-top: -0.266rem;}
.items-table{}
.items-table th,.items-table td{text-align: center; font-size: 14px; padding: 0.35rem 0; border-right: 1px solid #D3D0CF;}
.items-table th{color: #0F71AF; border-top: 1px solid #D3D0CF;}
.items-table td{border-bottom: 1px solid #D3D0CF; padding: 0.3rem 0;}
.items-table th:nth-last-of-type(1),.items-table td:nth-last-of-type(1){border-right: none;}
.items-table thead{background: #FAFAF9;}

.query-list{}
.query-list .list-ul{}
.list-ul li{position: relative; padding: 0.4rem; font-size: 14px; border-bottom: 1px solid #D3D0CF;}
.list-ul li .lisy-arrow{position: absolute; width: 92%; height: 0.533rem; background-size: 0.533rem 0.533rem; background-image: url(../img/fanhui.png); background-position: right center; background-repeat:no-repeat; top: 50%; right: 0.4rem; margin-top: -0.266rem;}
#charts-wrap{width: 10rem; height: 300px;}
.charts-tips{width: 100%; text-align: center; padding: 0.2rem;}

