.header-bar{position: relative;}
.header-bar .date-bar{line-height: 100px; background: #0F71AF;}
.header-bar .select-date{position: absolute; width: 40px; height: 40px; background: red; top: 50%; right: 40px; margin-top: -20px;}
