.queryBtn-area{padding: 0 0.4rem; margin-top: 30px;}

.qyh_picker{width: 100%; background: #fff; box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
.cal_title{color: #00bdaf; text-align: center; border-bottom: 1px solid #00bdaf; padding: 0 0 10px 0; position: relative;}
.month-btn{position: absolute; top: 0; font-size: 20px; font-weight: bold; width: 50px; height: 100%; line-height: 50px; cursor: pointer;}
#prev{left: 5px;}
#next{right: 5px;}
.body-list ul{width: 100%; font-family: arial; font-size: 14px; overflow: hidden;}
.body-list li{width: 14.28%; height: 36px; line-height: 30px; display: block; transition: .3s; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; text-align: center; cursor: pointer;}
.body-list li .days-span{display: inline-block; width: 30px; height: 30px; border-radius: 100%;}
.body-list li.active .days-span{background-color: #00bdaf; color: #fff;}
