html,body{width: 100%;}
body{font-family: "宋体"; font-size: 16px; background-color: #EBEBEB;}
.wx-flex{
	display: -webkit-box; 
	display: -webkit-flex;
	display: -ms-flexbox; 
	display: flex; 
}

header p{margin: 10px 12px 12px 10px; color: #989898;}

.container-payer-info,.container-pay-list{margin: 10px 12px 12px 10px; background-color: #FFFFFF;}
.list-header{-webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #DDDDDD;}
.list-header h3{height: 38px; line-height: 38px; font-size: 16px; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; color: #6699CC; padding-left: 15px;}
.list-header strong{width: 100px; padding-right: 20px; font-weight: bold; font-family: "microsoft yahei"; color: #000000;}
.list-content{padding: 0 14px 0;}

.container-payer-info+p{margin-left: 12px; color: #989898;}

.list-content .info-list li,.list-content .paied-list li{height: 40px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-bottom: 2px dotted #DDDDDD; position: relative;}
.list-content .info-list li:nth-last-of-type(1),.list-content .paied-list li:nth-last-of-type(1){border: none;}
.list-content .info-list li label,.list-content .paied-list li label{display: inline-block; width: 65px; text-align: right; color: #989898; font-size: 14px;}
.list-content .info-list li span,.list-content .paied-list li .paied{display: block; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-left: 20px; font-size: 14px;}
.list-content .paied-list li .unpaied{display: block; margin-left: 20px; margin-right: 10px;}
.list-content .paied-list li a{display: inline-block; width: 80px; height: 100%; line-height: 40px; color: #00A65A; font-size: 14px; text-align: right; position: absolute; right: 0; top: 0;}

.no-record{width: 100%; margin: 75px 0; text-align: center;}
.no-record p{width: 100%; color: #989898; margin-top: 30px;}